{% extends 'base/base.html' %}

{% block activar1 %}
    <li class="nav-item active">
{% endblock %}

{% block titulo %}
    {{ pregunta.pregunta_text }}
{% endblock %}
{% block contenido %}
    <br>
    {% if mensaje_error %}<p><strong>{{ mensaje_error }}</strong></p>{% endif %}
    <form action="{% url 'encuestas:votar' pregunta.id %}" method="post">
    {% csrf_token %}
    {% for opcion in pregunta.opcion_set.all %}
        <input type="radio" name="opcion" id="opcion{{ forloop.counter }}" value="{{ opcion.id }}">
        <label for="opcion{{ forloop.counter }}">{{ opcion.opcion_text }}</label>
        <br>
    {% endfor %}
    <input type="submit" value="Votar">
    </form>
{% endblock %}